<a href="https://colab.research.google.com/github/deokhye/07_08/blob/master/solving_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2020.07.07
#1-1
print('Hello World')

Hello World

In [ ]:
#1-2
print("Mary's consmetics")

Mary's consmetics

In [ ]:
#1-3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
#1-4
print('"C:\Windows"')

"C:\ Windows"

In [ ]:
#1-5
print("안녕하세요.\n만나서\t\t반갑습니다.")

#wt: 줄 엔터, \t: 옆으로 탭

안녕하세요.
만나서		반갑습니다.

In [ ]:
#1-6
print ("오늘은", "일요일")

오늘은 일요일

In [ ]:
#1-7
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [ ]:
#1-8
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [ ]:
#1-9
print("first", end="");print("second")

firstsecond

In [ ]:
#1-10
print(5/3)

1.6666666666666667

In [ ]:
#2-11
a= 50000
b=a*10
print(b)

500000

In [ ]:
#2-12
a='298조'
b=50000
c=15.79
print(a, b, c)

298조 50000 15.79

In [ ]:
#2-13
s = "hello"
t = "python"
print(s,'!',t)

hello ! python

In [ ]:
#2-14
2+2*3

8

In [ ]:
#2-15
a="132"
type(a)

str

In [ ]:
#2-16
num_str = "720"
a=int(num_str)
print(a)
type(a)

720

int

In [ ]:
#2-17
num = 100
a=str(num)
print(a)
type(a)

100

str

In [ ]:
#2-18
a=15.70
b=float(a)
print(b)
type(b)

15.7

float

In [ ]:
#2-19
year= "2020"
a=int(year)
print(a-2, a-1, a)

2018 2019 2020

In [ ]:
#2-20
air_con=48584 * 36
print(air_con)

1749024

In [ ]:
#3-21
letters='python'
print(letters[0])
print(letters[2])

p
t

In [ ]:
#3-22
license_plate= "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
#3-23
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
#3-24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#3-25
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [ ]:
#3-26
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

In [ ]:
#3-27
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
#3-28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

In [ ]:
#3-29
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

In [ ]:
#3-30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
#3-31
a = "3"
b = "4"
print(a + b)

34

In [ ]:
#3-32
print("Hi" * 3)

HiHiHi

In [ ]:
#3-33
print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
#3-34
t1 = 'python'
t2 = 'java'
t3 = t1 +" "+ t2+" "
print(t3 *3)

python java python java python java

In [ ]:
#3-35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#3-36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}". format(name1, age1))
print("이름: {} 나이: {}". format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#3-37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#3-38
상장주식수 = "5,969,782,550"
a=상장주식수.replace(',','')
b=int(a)
print(b)

5969782550

In [ ]:
#3-39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
#3-40
data = "   삼성전자    "
data_=data.strip()
print(data_)

삼성전자

In [ ]:
#3-41
ticker = "btc_krw"
ticker_=ticker.upper()
print(ticker_)

BTC_KRW

In [ ]:
#3-42
ticker = "BTC_KRW"
ticker_=ticker.lower()
print(ticker_)

btc_krw

In [ ]:
#3-43
a="hello"
a.replace('h','H')
print(a)

hello

In [ ]:
#3-44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
#3-45
file_name = "보고서.xlsx"
file_name.endswith("xlsx" or "xls")

True

In [ ]:
#3-46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
#3-47
a = "hello world"
a.split(' ')

['hello', 'world']

In [ ]:
#3-48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#3-49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
#3-50
data = "039490     "
print(data.rstrip())

039490

In [ ]:
#4-51
move_rank=['닥터 스트레인지', '스플릿', '럭키']
print(move_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
#4-52
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#4-53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#4-54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#4-55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#4-56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#4-57
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min(nums))

max:  7
min:  1

In [ ]:
#4-58
nums = [1, 2, 3, 4, 5]
sum=0
for i in nums:
  sum+=i
print(sum)

15

In [ ]:
#4-59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
#4-60
nums = [1, 2, 3, 4, 5]
sum=0
for i in nums:
  sum+=i
print(sum/len(nums))

3.0

In [ ]:
#4-61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#4-62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [ ]:
#4-63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1:10:2]

[2, 4, 6, 8, 10]

In [ ]:
#4-64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
#4-65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
#4-66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
#4-67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#4-68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#4-69
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [ ]:
#4-70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
#6-84
temp={}
temp

{}

In [ ]:
#6-85
ice_cream={'메로나':1000, '폴라포': 1200, '빵빠레' : 1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#6-86
ice_cream={'메로나':1000, '폴라포': 1200, '빵빠레' : 1800}
ice_cream['죠스바']='1200'
ice_cream['월드콘']='1500'
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': '1200', '월드콘': '1500'}

In [ ]:
#6-87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [ ]:
#6-88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#6-89
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#2020.07.10
#6-91
inventory={'메로나':[300,20], '비비빅':[400,3],'죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#6-92
inventory={'메로나':[300,20], '비비빅':[400,3],'죠스바':[250,100]}
print(inventory['메로나'][0], '원')

300 원

In [ ]:
#6-93
inventory={'메로나':[300,20], '비비빅':[400,3],'죠스바':[250,100]}
print(inventory['메로나'][1],'개')

20 개

In [ ]:
#6-94
inventory["월드콘"]=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
#6-95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
#6-96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
#6-97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.values())

sum=0
for i in ice:
  sum+=i
print(sum)

6700

In [ ]:
#6-98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
#6-99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
#6-100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
#7-109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
#7-110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
#7-111
a= input("문자열을 입력해주세요:")

print(a *2)

문자열을 입력해주세요:5
55

In [ ]:
#7-112
a= int(input("숫자를 입력해주세요:"))

print(a+10)

숫자를 입력해주세요:10
20

In [ ]:
#7-113
a= int(input("숫자를 입력해주세요:"))

if a % 2 ==0:
  print("짝수")
else:
  print("홀수")

숫자를 입력해주세요:5
홀수

In [ ]:
#7-114
a= int(input("숫자를 입력해주세요:"))

if a > 255:
  print("255")
else:
  print(a+20)

숫자를 입력해주세요:60
80

In [ ]:
#7-115
a= int(input("숫자를 입력해주세요:"))
b=a-20

if b < 0:
  print("0")
elif b > 255:
  print("255")
else:
  print(b)

숫자를 입력해주세요:200
180

In [ ]:
#7-116
a= input("현재시간:")
min = int(a.split(':')[1])
if min == 0:
  print("정각입니다")
else:
  print("정각이 아닙니다.")

현재시간:12:30
정각이 아닙니다.

In [ ]:
#7-117
fruit = ["사과", "포도", "홍시"]
a= input("좋아하는 과일은?:")

if a in fruit:
  print('정답입니다')
else:
  print('오답입니다')

좋아하는 과일은?:딸기
오답입니다

In [ ]:
#7-118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a= input("종목명을 입력하세요:")

if a in warn_investment_list:
  print('투자 경고 종목입니다')
else:
  print('투자 경고 종목이 아닙니다')

종목명을 입력하세요:LG
투자 경고 종목입니다

In [ ]:
#7-119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input("제가 좋아하는 계절은:")

if a in fruit.keys():
  print('정답입니다')
else:
  print('오답입니다')

제가 좋아하는 계절은:봄
정답입니다

In [ ]:
#7-120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a= input("좋아하는 과일은:")

if a in fruit.values():
  print('정답입니다')
else:
  print('오답입니다')

좋아하는 과일은:한라봉
오답입니다

In [ ]:
#7-121
a= input("알파벳을 입력하세요:")

if a.islower() == True:
  print(a.upper())
else:
  print(a.lower())

알파벳을 입력하세요:a
A

In [ ]:
#7-122
score=int(input("score:"))

if 81 <= score <=100:
  print("grade is A")
elif 61 <= score <=80:
  print("grade is B")
elif 41 <= score <=60:
  print("grade is C")
elif 21 <= score <=40:
  print("grade is D")
else:
  print("grade is E")

score:55
grade is C

In [ ]:
#7-123
#틀렸다 다시 보기
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num)*환율[currency], "원")

입력: 100 달러
116700.0 원

In [ ]:
#7-124
a= int(input("input number1:"))
b= int(input("input number2:"))
c= int(input("input number3:"))
d=[a,b,c]
max(d)

input number1:9
input number2:65
input number3:94

94

In [ ]:
#7-125
통신사={
    '011':'SKT',
     '016':'KT',
     '019':'LGU',
     '010':'알수없음'
}

user=input('휴대전화 번호 입력')
first, second, third=user.split("-")

if first == "011":
  print('당신은 SKT 사용자입니다')
elif first == "016":
  print('당신은 KT 사용자입니다')
elif first == "019":
  print('당신은 LGU 사용자입니다')
else:
  print('당신은 알수없음 사용자입니다')

휴대전화 번호 입력051-654-8945
당신은 알수없음 사용자입니다

In [ ]:
#7-126
a= input("우편번호:")
b = a[:3]

if b in ["010", "011", "012"]:
  print("강북구")
elif b in ["013", "014", "015"]:
  print("도봉구")
else:
  print("노원구")

우편번호:01400
도봉구

In [ ]:
#7-127
a = input("주민등록번호:")
#print(a.split("-"))
b=a.split("-")
#print(b[1][0])
c=b[1][0]
#print(c)

if c == "1" or c == "3":
  print("남자")
else:
  print("여자")

주민등록번호:821010-1635210
1
남자

In [ ]:
#7-128
a = input("주민등록번호:")
b=a.split("-")
c=int(b[1][1])
d=int(b[1][2])

if c ==0 and 0 <= d <=8:
  print("서울입니다")
else:
  print("서울이 아닙니다")

주민등록번호:861010-1015210
서울입니다

In [ ]:
#7-129
num=input("주민등록번호:")

계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + int(num[5]) *7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10]) * 3 + int(num[11]) * 4 + int(num[12]) * 5
계산2 = 11 - (계산1%11)

if 계산2 == int(num[-1]):
  print("유효한 주민등록번호입니다")
else:
  print("유효하지 않은 주민등록번호입니다")

주민등록번호:821010-1635210
유효하지 않은 주민등록번호입니다

In [ ]:
#7-130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

gap_changing=float(btc['max_price']) - float(btc['min_price'])

if float(btc['closing_price']) + gap_changing >= float(btc['max_price']):
  print("상승장")
else:
  print("하락장")

상승장

In [ ]:
#8-131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
#8-132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
#8-133
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [ ]:
#8-139

for 변수 in ["++++", 10, 20, 30]:
  print(변수)

++++
10
20
30

In [ ]:
#8-141
리스트 = [100, 200, 300]
for i in 리스트:
  print(i)

100
200
300

In [ ]:
#8-143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
  print(len(i))

6
4
4

In [ ]:
#8-145
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i[0])

d
c
p

In [ ]:
#8-146
리스트 = [1, 2, 3]

for i in 리스트:
  print("3 *",i)

3 * 1
3 * 2
3 * 3

In [ ]:
#8-147
리스트 = [1, 2, 3]

for i in 리스트:
  print("3 *",i,"=",3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [ ]:
#8-148
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
  print(i)

나
다
라

In [ ]:
#8-149
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
  print(i)

가
다

In [ ]:
#8-150
리스트 = ["가", "나", "다", "라"]

for i in reversed(리스트):
  print(i)

라
다
나
가

In [ ]:
#8-151
리스트 = [3, -20, -3, 44]

for i in 리스트:
  if i <=0:
    print(i)

-20
-3

In [ ]:
#8-152
리스트 = [3, 100, 23, 44]

for i in 리스트:
  if i % 3 == 0 :
    print(i)

3

In [ ]:
#8-153
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
  if i % 3 == 0 and i<=20:
    print(i)

12
18

In [ ]:
#8-154
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
  if len(i) >= 3:
    print(i)

study
python
language

In [ ]:
#8-155
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.isupper() == True:
    print(i)

A
D

In [ ]:
#8-156
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.isupper() == True:
    pass
  else:
    print(i)

b
c

In [ ]:
#8-157
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [ ]:
#8-158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
  a=i.split('.')
  print(a[0])

hello
ex01
intro

In [ ]:
#8-159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  if ".h" in i:
    print(i)

intra.h
define.h

In [ ]:
#8-160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  if i[-2:]==".h" or i[-2:]==".c" in i:
    print(i)

intra.h
intra.c
define.h

In [ ]:
#2020.07.11
#8-161

for i in range(0,100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#8-162
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
#8-163
for i in range(1,31):
  if i % 3 == 0 :
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#8-164
for i in range(99,-1,-1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#8-165
for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
#8-166
for i in range(1,10):
  print("3*",i,"=", 3*i)

3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27

In [ ]:
#8-167
for i in range(1,10,2):
  print("3*",i,"=", 3*i)

3* 1 = 3
3* 3 = 9
3* 5 = 15
3* 7 = 21
3* 9 = 27

In [ ]:
#8-168
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
#8-169
sum=0
for i in range(1,11,2):
  sum=sum+i
print(sum)

25

In [ ]:
#8-170
sum=1
for i in range(1,11):
  sum=sum*i
print(sum)

3628800

In [ ]:
#8-171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(price_list[i])

32100
32150
32000
32500

In [ ]:
#8-172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
#8-173
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
  print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
#8-174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
  print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
#8-175
my_list = ["가", "나", "다", "라"]
for i in range(3):
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [ ]:
#8-176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
#8-177
my_list = ["가", "나", "다", "라"]
for i in range(3):
  print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [ ]:
#8-178
my_list = [100, 200, 400, 800]
for i in range(3):
  print(my_list[i+1]-my_list[i])

100
200
400

In [ ]:
#8-179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
  a=my_list[i]+my_list[i+1]+my_list[i+2]
  print(a/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
#8-180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(5):
  volatility.append(high_prices[i]-low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
#8-181
apart=[["101호", "102호"], ["201호","202호"], ["301호", "302호"]]
type(apart)

list

In [ ]:
#8-182
stock=[["시가", 100, 200, 300], ["종가", 80, 210, 330]]
type(stock)

list

In [ ]:
#8-183
stock={"시가": [100, 200, 300], "종가": [80, 210, 330]}
type(stock)

dict

In [ ]:
#8-184
stock={"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}
type(stock)

dict

In [ ]:
#8-185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  print(apart[i][0], "호")
  print(apart[i][1], "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
#8-186
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  print(apart[2-i][0], "호")
  print(apart[2-i][1], "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
#8-187
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(3):
  print(apart[2-i][1], "호")
  print(apart[2-i][0], "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
#8-188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for a in i:
    print(a, "호")
    print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
#8-189
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  print(i[0],"호")
  print(i[1],"호")
  print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
#8-190
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
  for a in i:
    print(a,'호')
print('-' * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
#8-191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  for a in i:
    print(a * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
#8-192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
  for a in i:
    print(a * 1.00014)
  print("-" * 4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
#8-193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for i in data:
  for a in i:
    b=a * 1.00014
    result.append(b)


print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
#8-194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for i in data:
  c=[]
  for a in i:
    b=a * 1.00014
    c.append(b)
  result.append(c)
  

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
#8-195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  a=i[3]
  print(a)

100
190
310

In [ ]:
#8-196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
  a=i[-1]
  if a >= 150:
    print(a)

190
310

In [ ]:
#8-197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
  a=i[-1]
  b=i[0]

  if a >= b :
    print(a)

100
310

In [ ]:
#8-198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility=[]

for i in ohlc[1:]:
  a=i[1]
  b=i[2]
  c=a-b
  volatility.append(c)
print(volatility)

[40, 30, 10]

In [ ]:
#8-199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for i in ohlc[1:]:
  a=i[0]
  b=i[1]
  c=i[2]
  d=i[3]
  if d > a:
    print(b-a)
    volatility.append(b-a)

10

In [ ]:
#8-200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

list_e=[]
sum=0
for i in ohlc[1:]:
  a=i[0]
  b=i[1]
  c=i[2]
  d=i[3]
  e= d-a
  list_e.append(e)

for sum_e in list_e:
  sum=sum+sum_e
print(sum)

0

In [ ]:
#9-201
def print_coin():
  print("비트코인")

In [ ]:
#9-202
print_coin()

비트코인

In [ ]:
#9-203
for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
#9-204
def print_coins():
  for i in range(100):
    print("비트코인")

In [ ]:
#9-215
def print_with_smile(string):
  print(string, ":D")

hi :D

In [ ]:
#9-216
print_with_smile("안녕하세요")

안녕하세요 :D

In [ ]:
#9-217
def print_upper_price(price):
  print(price * 1.3)

In [ ]:
#9-218
def print_sum(a,b):
  print(a+b)

In [ ]:
#9-219
def print_arithmetic_operation(a, b):
  print(a, "+", b, "=", a + b)
  print(a, "-", b, "=", a - b)
  print(a, "*", b, "=", a * b)
  print(a, "/", b, "=", a / b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
#9-220

def print_max(a, b, c):
  max_val = 0
  if a > max_val:
    max_val = a
  if b > max_val:
    max_val = b
  if c > max_val:
    max_val = c
  print(max_val)

print_max(3,7,4)

7

In [ ]:
#9-221
def print_reverse(string):
  a=string[::-1]
  print(a)

print_reverse("python")

nohtyp

In [ ]:
#9-222
def print_score(list):
  sum=0
  for i in list:
    sum = sum + i
  print(sum/len(list))

print_score([1, 2, 3])

2.0

In [ ]:
#9-223
def print_even(list):
  for i in list:
    if i % 2  == 0:
      print(i)
      
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
#9-224
def print_keys(dict):
  for i in dict.keys():
    print(i)

print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
#9-225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, date_key):
    print (my_dict[date_key])

print_value_by_key( my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
#9-226
#틀린 문제

def print_5xn(string):
  chunk = int(len(string) / 5)
  for i in range(chunk+1) :
    a=string[i * 5 : i * 5 + 5]
    print(a)

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
#9-227
def print_mxn(line, num):
  chunk = int(len(line) / num)
  for i in range (chunk + 1):
    a = line[i * num : i * num + num]
    print(a)

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
#9-228
def calc_monthly_salary(annual_salary):
  montly_pay = int(annual_salary/ 12 )
  return montly_pay

calc_monthly_salary(12000000)

1000000

In [ ]:
#9-232
def make_url(line):
  return "www."+line+".com"

make_url("naver")

'www.naver.com'

In [3]:
#9-233
def make_list(line):
  a=[]
  for i in line:
    a.append(i)
  return a

make_list("abcd")

['a', 'b', 'c', 'd']

In [14]:
#9-234
def pickup_even(num_list):
  a = []
  for i in num_list:
    if i % 2 == 0:
      a.append(i)
  return a

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [16]:
#9-235
def convert_int(line):
  a = line.replace(",","")
  return a

convert_int("1,234,567")

'1234567'

In [17]:
#9-236
def 함수(num) :
    return num + 4
 
a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [18]:
#9-237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [19]:
#9-238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [20]:
#10-248
import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [21]:
#10-250
import numpy
for i in numpy.arange(0, 5, 0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [ ]:
#11-252
class Human:
  pass

In [ ]:
#11-253
class Human:
  pass

gildong = Human()

In [22]:
#11-254
class Human:
  def __init__(self):
    print("응애응애")

gildong = Human()

응애응애

In [25]:
#11-255
class Human:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

gildong = Human("홍길동", 25, "남자")
print(gildong)

<__main__.Human object at 0x7fbca6703710>

In [29]:
#11-256
print("이름:", gildong.name,",", "나이:", gildong.age,",",  "성별:", gildong.gender)

이름: 홍길동 , 나이: 25 , 성별: 남자

In [34]:
#11-257
class Human:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender
  
  def who(self):
    print("이름:", self.name, "나이:", self.age,  "성별:", self.gender)


gildong = Human("홍길동", 25, "남자")
gildong.who()

이름: 홍길동 나이: 25 성별: 남자

In [38]:
#11-258
class Human:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender
  
  def who(self):
    print("이름:", self.name, "나이:", self.age,  "성별:", self.gender)

  def setInfo(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender


gildong = Human("모름", 0, "모름")
gildong.who()

gildong.setInfo("홍길동", 25, "남자")
gildong.who()

이름: 모름 나이: 0 성별: 모름
이름: 홍길동 나이: 25 성별: 남자

In [39]:
#11-259
class Human:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender
  
  def who(self):
    print("이름:", self.name, "나이:", self.age,  "성별:", self.gender)

  def setInfo(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def __del__(self):
    print("나의 죽음을 알리지마라")


gildong = Human("홍길동", 25, "남자")
del gildong

나의 죽음을 알리지마라

In [ ]:
#11-261
class Stock:
  pass

In [40]:
#11-262
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [50]:
#11-263
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

a = Stock(None, None)
print(a.name)
a.set_name("삼성전자")
print(a.name)

None
삼성전자

In [54]:
#11-264
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code

a = Stock(None, None)
print(a.code)
a.set_code("005930")
print(a.code)

None
005930

In [60]:
#11-265
class Stock:
  def __init__(self, name, code):
    self.name = name
    self.code = code

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code
  
  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

삼성 = Stock("삼성전자", "005930")
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [63]:
#11-266
class Stock:
  def __init__(self, name, code, PER, PBR, per_gain):
    self.name = name
    self.code = code
    self.PER = PER
    self.PBR = PBR
    self.per_gain = per_gain

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code
  
  def get_name(self):
    return self.name

  def get_code(self):
    return self.code

samsung_elect = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(samsung_elect.PER)

15.79

In [ ]:
#11-268
class Stock:
  def __init__(self, name, code, PER, PBR, per_gain):
    self.name = name
    self.code = code
    self.PER = PER
    self.PBR = PBR
    self.per_gain = per_gain

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code
  
  def get_name(self):
    return self.name

  def get_code(self):
    return self.code
  
  def set_per(self, PER):
    self.PER = PER

  def set_prb(self, PRB):
    self.PRB = PRB

  def set_dividend(self, dividend):
    self.dividend = dividend

In [67]:
#11-269
class Stock:
  def __init__(self, name, code, PER, PBR, per_gain):
    self.name = name
    self.code = code
    self.PER = PER
    self.PBR = PBR
    self.per_gain = per_gain

  def set_name(self, name):
    self.name = name

  def set_code(self, code):
    self.code = code
  
  def get_name(self):
    return self.name

  def get_code(self):
    return self.code
  
  def set_PER(self, PER):
    self.PER = PER

  def set_prb(self, PRB):
    self.PRB = PRB

  def set_dividend(self, dividend):
    self.dividend = dividend

samsung_elect = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
samsung_elect.set_PER(12.75)
print(samsung_elect.PER)

12.75

In [68]:
#11-270
samsung_elect = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
H = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG= Stock("LG전자", "066570", 317.34, 0.69, 1.37)

com_list=[]
com_list.append(samsung_elect)
com_list.append(H)
com_list.append(LG)
                
for i in com_list:
  print(i.code, i.PER)

005930 15.79
005380 8.7
066570 317.34

In [72]:
#11-271
import random

class Account:
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3

lee= Account("이덕혜", 1000)
print("은행이름:", lee.bank)
print("계좌번호:", lee.account_number)

은행이름: SC은행
계좌번호: 934-85-523232

In [76]:
#11-272
#클래스 변수 사용해서 개수 저장하기!!
import random

class Account:
  #클래스 변수
  counter = 0
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

lee= Account("이덕혜", 1000)
print("은행이름:", lee.bank)
print("계좌번호:", lee.account_number)
print("총 계좌수:", Account.counter)

은행이름: SC은행
계좌번호: 305-01-376064
총 계좌수: 1

In [79]:
#11-273
import random

class Account:
  #클래스 변수
  counter = 0
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

kim = Account("김민수", 100)
lee = Account("이민수", 100)
Account.get_account_num()

2

In [84]:
#11-274
import random

class Account:
  #클래스 변수
  counter = 0
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

  def deposit(self, amount):
    self.amount=amount
    if amount >= 1:
      self.balance = self.balance + self.amount

kim = Account("김민수", 100)
kim.deposit(1)
print(kim.balance)
kim.deposit(100)
print(kim.balance)

101
201

In [85]:
#11-275
import random

class Account:
  #클래스 변수
  counter = 0
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

  def deposit(self, amount):
    self.amount=amount
    if amount >= 1:
      self.balance = self.balance + self.amount

  def withdraw(self, amount):
    self.amount=amount
    if amount <= self.balance:
      self.balance = self.balance - self.amount

  
kim = Account("김민수", 100)
kim.deposit(100)
kim.withdraw(90)
print(kim.balance)

110

In [89]:
#11-276
import random

class Account:
  #클래스 변수
  counter = 0
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

  def deposit(self, amount):
    self.amount=amount
    if amount >= 1:
      self.balance = self.balance + self.amount

  def withdraw(self, amount):
    self.amount=amount
    if amount <= self.balance:
      self.balance = self.balance - self.amount

  def display_info(self):
    print("은행이름:", self.bank)
    print("예금주:", self.name)
    print("계좌번호", self.account_number)
    print("잔고:", format(self.balance, ','))

p = Account("파이썬", 10000)
p.display_info()

은행이름: SC은행
예금주: 파이썬
계좌번호 370-28-259893
잔고: 10,000

In [90]:
#11-277
import random

class Account:
  #클래스 변수
  counter = 0

  def __init__(self, name, balance):

    self.deposit_count = 0  # 입금횟수 초기화

    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

  def deposit(self, amount):
    self.amount=amount
    if amount >= 1:
      self.balance = self.balance + self.amount

      self.deposit_count += 1
      if self.deposit_count % 5 == 0:   # 5, 10, 15 ...
        self.balance *= 1.01   

  def withdraw(self, amount):
    self.amount=amount
    if amount <= self.balance:
      self.balance = self.balance - self.amount

  def display_info(self):
    print("은행이름:", self.bank)
    print("예금주:", self.name)
    print("계좌번호", self.account_number)
    print("잔고:", format(self.balance, ','))

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [94]:
#11-278
data=[]
k=Account("Kim", 10000000)
l=Account("Lee", 10000)
p=Account("Park", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x7fbca66d6588>, <__main__.Account object at 0x7fbca66d6160>, <__main__.Account object at 0x7fbca66d60f0>]

In [95]:
#11-279
data=[]
k=Account("Kim", 10000000)
l=Account("Lee", 10000)
p=Account("Park", 10000)

data.append(k)
data.append(l)
data.append(p)

for i in data:
  if i.balance >=1000000:
    i.display_info()

은행이름: SC은행
예금주: Kim
계좌번호 039-96-574941
잔고: 10,000,000

In [118]:
#11-280
import random

class Account:
  #클래스 변수
  counter = 0

  def __init__(self, name, balance):

    self.deposit_count = 0  # 입금횟수 초기화
    self.deposit_log=[]
    self.withdraw_log=[]

    self.name = name
    self.balance = balance
    self.bank = "SC은행"

    #계좌번호
    num1 = random.randint(0, 999)
    num2 = random.randint(0, 99)
    num3 = random.randint(0, 999999)

    num1 = str(num1).zfill(3)      
    num2 = str(num2).zfill(2)      
    num3 = str(num3).zfill(6)   

    self.account_number = num1 + '-' + num2 + '-' + num3
    Account.counter +=1

  def get_account_num():
    print(Account.counter)

  def deposit(self, amount):
    if amount >= 1:
      self.amount=amount
      self.deposit_log.append(self.amount)
      self.balance = self.balance + self.amount

      self.deposit_count += 1
      if self.deposit_count % 5 == 0:   # 5, 10, 15 ...
        self.balance *= 1.01   

  def withdraw(self, amount):
    if amount <= self.balance:
      self.amount=amount
      self.withdraw_log.append(self.amount)
      self.balance = self.balance - self.amount

  def display_info(self):
    print("은행이름:", self.bank)
    print("예금주:", self.name)
    print("계좌번호", self.account_number)
    print("잔고:", format(self.balance, ','))

  def deposit_history(self):
    for amount in self.deposit_log:
      print(amount)

  def withdraw_history(self):
    for amount in self.withdraw_log:
      print(amount)


p = Account("파이썬", 10000)
p.deposit(100)
p.deposit(200)
p.deposit(300)
p.deposit_history()

p.withdraw(100)
p.withdraw(200)
p.withdraw_history()

100
200
300
100
200

In [104]:
#11-281

class 차():
  def __init__(self, 바퀴, 가격):
    self.바퀴 = 바퀴
    self.가격 = 가격
    
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
#11-282

class 자전차(차):
  pass

In [108]:
#11-283
class 자전차(차):
  def __init__(self, 바퀴, 가격):
    super(). __init__(바퀴, 가격)

bicycle = 자전차(2, 100)
bicycle.가격

100

In [110]:
#11-284
class 자전차(차):
  def __init__(self, 바퀴, 가격, 구동계):
    super(). __init__(바퀴, 가격)
    self.구동계 = 구동계

bicycle = 자전차(2, 100, "스램")
print(bicycle.구동계)

스램

In [112]:
#11-285
class 자동차(차):
  def __init__(self, 바퀴, 가격):
    super(). __init__(바퀴, 가격)

  def 정보(self):
    print("바퀴수", self.바퀴)
    print("가격", self.가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [114]:
#11-286
class 차():
  def __init__(self, 바퀴, 가격):
    self.바퀴 = 바퀴
    self.가격 = 가격

  def 정보(self):
    print("바퀴수", self.바퀴)
    print("가격", self.가격)

class 자전차(차):
  def __init__(self, 바퀴, 가격, 구동계):
    super(). __init__(바퀴, 가격)
    self.구동계 = 구동계

  def 정보(self):
    super().정보()
    print("구동계", self.구동계)

bicycle = 자전차(2, 100, "스램")
bicycle.정보()

바퀴수 2
가격 100
구동계 스램

In [120]:
#12-291
with open('매수종목1.txt', 'a', encoding="utf-8") as f:
  f.write("005930\n")
  f.write("005380\n")
  f.write("035420")

NameError: ignored

In [ ]:
#12-292
with open('매수종목2.txt', 'a', encoding="utf-8") as f:
  f.write("005930 삼성전자\n")
  f.write("005380 현대차\n")
  f.write("035420 NAVER")

In [ ]:
#12-293
with open('매수종목.csv', 'a', newline='', encoding="cp949") as csvfileL
  csvwrite = csv.writer(csvrile)
  csvwrite.writerow(["종목명", "종목코드", "PER"])
  csvwriter.writerow(["삼성전자", "005930", 15.59])
  csvwriter.writerow(["NAVER", "035420", 55.82])

In [ ]:
#12-294

with open('매수종목1.txt', 'r', encoding="utf-8") as f:
  lines = f.readlines()

codes = []

for line in lines:
  code = line.strip()
  codes.apprend(code)

print(codes)

In [129]:
#12-295

with open("매수종목.txt", "r", encoding="utf-8") as f:
  lines=f.readlines()

data={}
for line in lines:
  line=line.strip()
  k, v = line.split()
  data[k] = v

print(data)

FileNotFoundError: ignored

In [127]:
#12-296

per = ["10.31", "", "8.00"]
 
for i in per:
  try: 
    print(float(i))
  except:
    print(0)

10.31
0
8.0

In [126]:
#12-297
per = ["10.31", "", "8.00"]
new_per=[]

for i in per:
  try:
    v = float(i)
  except:
    v = 0
  new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [125]:
#12-298
try:
  b = 3 / 0

except ZeroDivisionError:
  print("0으로 나누면 안되요")

0으로 나누면 안되요

In [124]:
#12-299
data = [1, 2, 3]
 
for i in range(5):
  try:
    print(data[i])
  except IndexError as e:
    print(e)

1
2
3
list index out of range
list index out of range

In [122]:
12-300
per = ["10.31", "", "8.00"]
 
for i in per:
  try:
    print(float(i))
  except:
    print("0")
  else:
    print("clean data")
  finally:
    print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료